@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

* body::-webkit-scrollbar {
  width: 16px;
}

* body::-webkit-scrollbar-track {
  background-color: #212121;
}

* body::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #0A0A0A;
}

h1, p, h2, button {
  color: #ffffff;
  font-family: "Sora", sans-serif;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  height: 80vh;
  background: url(https://source.unsplash.com/dCgbRAQmTQA);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.container {
  padding: 0 24px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  font-size: 64px;
  width: 100%;
  text-align: center;
}

.sub-heading {
  font-weight: 600;
  font-size: 24px;
  width: 60%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
}

.btn {
  cursor: pointer;
  -webkit-animation-name: uptown;
          animation-name: uptown;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes uptown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes uptown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 60vh;
  }
  .heading {
    font-size: 30px;
  }
  .sub-heading {
    font-weight: 500;
    width: 80%;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
  @-webkit-keyframes uptown {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes uptown {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
}

main {
  background-color: #0A0A0A;
  width: 100%;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-heading {
  font-size: 32px;
  margin: 24px 12px;
}

.main {
  padding: 12px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media screen and (max-width: 600px) {
  .main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 4px;
  }
}

.main-btn {
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 24px;
  padding: 16px 80px;
  color: #0a0a0a;
  border-radius: 8px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  cursor: pointer;
}

.card {
  width: 100%;
  background-color: #0a0a0a;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.card-cover {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-content {
  height: 270px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-heading {
  font-size: 22px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  margin-top: 8px;
}

.card-url {
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Sora", sans-serif;
  width: 100%;
  text-align: right;
}

.loader, .cloader {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 32px;
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-fill-mode: ease-in-out;
          animation-fill-mode: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
  50% {
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  100% {
    -webkit-transform: translate(-20px, 0);
            transform: translate(-20px, 0);
  }
}

.hidden {
  display: none;
}

footer {
  margin-top: 32px;
  background-color: #0f0f0f;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #FFFFFF;
}

.social-media {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.attribution {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.copyright {
  text-align: center;
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  .social-media {
    width: 60%;
  }
}
/*# sourceMappingURL=index.css.map */